<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
        

    </style>
</head>
<body>
    <button><a href="/history">History</a></button>
    <!--user-->
    <form action="/" method="post">
        <table>
            <tr>
                <td>User name</td><td><input name="name" type="text" placeholder="Enter your name"></td>
            </tr>
    
            <tr>
                <td>Level</td>
                <td>
                    <select name="lev">
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="difficult">Difficult</option>
                    </select>
                </td>
            </tr>
        </table>
        
        <input type="submit" value="PLay">
    </form> 

</body>
</html>